*.opensdf
*.sdf
*.user
*.suo
*.DS_Store
*.exe
*.xcbkptlist
*.xcuserstate
*.lik
*.pdb
*.app
*.idb
*.log
*.xcuserdatad
*.lib
*.dll
*.obj
*.o
*.d
*.a
*.so
*.exp
*.tlog
*.manifest
*.lastbuildstate
*.ilk
*.dblite
*.db
build
ipch
bin
obj
external/lua-5.2.0/src/lua
external/lua-5.2.0/src/luac

*.vcxproj
*.pbxproj
*.filters
*.sln
*.xcodeproj
*.xcworkspace