*.opensdf
*.sdf
*.user
*.suo
*.DS_Store
*.exe
*.xcbkptlist
*.xcuserstate
*.lik
*.pdb
*.app
*.idb
*.log
*.xcuserdatad
*.dll
*.obj
*.o
*.d
*.a
*.so
*.exp
*.tlog
*.manifest
*.lastbuildstate
*.ilk
*.dblite
*.db
./build
ipch